* {
    margin: 0;
    padding: 0;  
} 

body {
    font-family: Microsoft YaHei;
    background: #e0e2e4;
}

.box {
    background: #fff;
    width: 980px;
    margin: 0 auto;
}

.head {
    height: 46px;
    margin-top: 20px;
    padding: 30px;
    position: relative;
    border-bottom: 1px #9ca6ac dashed;
}

    .head h4 {
        color: #0067a7;
        height: 30px;
    }

    .head p {
        color: #475055;
        font-size: 13px;
    }

.money {
    display: block;
    position: absolute;
    right: 30px;
    padding-right: 35px;
    bottom: 27px;
}

.m1 {
    float: left;
    color: #ff8255 !important;
    font-size: 18px !important;
    font-weight: bold;
    margin-right: 5px;
}

.m2 {
    float: left;
    margin-top: 4px;
}

.head span p {
}

.main {
    border-top: 10px #e0e2e4 solid;
    padding: 60px;
}

.titlebox {
    border-bottom: 1px #e7e7e7 solid;
}

    .titlebox span {
        color: #00bbee;
        font-weight: bold;
        display: block;
        position: relative;
        height: 35px;
        line-height: 35px;
        text-align: center;
        width: 125px;
        font-size: 15px;
        z-index: 999;
        border: 1px #e7e7e7 solid;
        border-bottom: 1px #fff solid;
        top: 1px;
        border-radius: 5px 5px 0px 0px;
    }

.bank {
}

    .bank ul {
    }

    .bank li {
        list-style: none;
        border: #e7e7e7 solid 1px;
        float: left;
        height: 35px;
        width: 150px;
        margin-top: 20px;
        margin-right: 20px;
        text-align: center;
    }

.click div {
    width: 150px;
    height: 35px;
    background-repeat: no-repeat;
}

.bank img {
    height: 100%;
}

.bank input {
    margin-top: 30px;
    background: #ffa500;
    border: none;
    border-radius: 5px;
    height: 35px;
    width: 200px;
    color: #fff;
}

.clear {
    clear: both;
    border: 0px;
    padding: 0px;
    margin: 0px;
}

.ABC {
    background: url(https://raw.githubusercontent.com/shaoqilan/paymentstaticfile/master/BankImage/ABC.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.BOC {
    background: url(https://raw.githubusercontent.com/shaoqilan/paymentstaticfile/master/BankImage/BOC.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.CCB {
    background: url(https://raw.githubusercontent.com/shaoqilan/paymentstaticfile/master/BankImage/CCB.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.CEB {
    background: url(https://raw.githubusercontent.com/shaoqilan/paymentstaticfile/master/BankImage/CEB.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.CIB {
    background: url(https://raw.githubusercontent.com/shaoqilan/paymentstaticfile/master/BankImage/CIB.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.CITIC {
    background: url(https://raw.githubusercontent.com/shaoqilan/paymentstaticfile/master/BankImage/CITIC.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.CMB {
    background: url(https://raw.githubusercontent.com/shaoqilan/paymentstaticfile/master/BankImage/CMB.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.CMBC {
    background: url(https://raw.githubusercontent.com/shaoqilan/paymentstaticfile/master/BankImage/CMBC.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.COMM {
    background: url(https://raw.githubusercontent.com/shaoqilan/paymentstaticfile/master/BankImage/COMM.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.CGB {
    background: url(https://raw.githubusercontent.com/shaoqilan/paymentstaticfile/master/BankImage/CGB.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.HKBEA {
    background: url(https://raw.githubusercontent.com/shaoqilan/paymentstaticfile/master/BankImage/HKBEA.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.HXB {
    background: url(https://raw.githubusercontent.com/shaoqilan/paymentstaticfile/master/BankImage/HXB.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.ICBC {
    background: url(https://raw.githubusercontent.com/shaoqilan/paymentstaticfile/master/BankImage/ICBC.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.PSBC {
    background: url(https://raw.githubusercontent.com/shaoqilan/paymentstaticfile/master/BankImage/PSBC.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.SPDB {
    background: url(https://raw.githubusercontent.com/shaoqilan/paymentstaticfile/master/BankImage/SPDB.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.BCM {
    background: url(https://raw.githubusercontent.com/shaoqilan/paymentstaticfile/master/BankImage/BCM.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.PAB {
    background: url(https://raw.githubusercontent.com/shaoqilan/paymentstaticfile/master/BankImage/PAB.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.BOB {
    background: url(https://raw.githubusercontent.com/shaoqilan/paymentstaticfile/master/BankImage/BOB.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.CGB {
    background: url(https://raw.githubusercontent.com/shaoqilan/paymentstaticfile/master/BankImage/CGB.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.BOS {
    background: url(https://raw.githubusercontent.com/shaoqilan/paymentstaticfile/master/BankImage/BOS.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.EGB {
    background: url(https://raw.githubusercontent.com/shaoqilan/paymentstaticfile/master/BankImage/EGB.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.selectoff {
    position: absolute;
}

.selectlock {
    position: absolute;
    background: url(https://raw.githubusercontent.com/shaoqilan/paymentstaticfile/master/Image/select.png);
    background-position: right bottom;
}
